.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 104px;
    margin-right: 80px;
    margin-top: 120px;
}